body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #000000;
}

#gameCanvas {
    border: 2px solid #ffffff;
    background-color: #050510;
}